<link rel="stylesheet" href="../styles/earthStyle.css">
<h1>Earth </h1>
<div id="main">

    <div><img class="animated rollIn" src="http://nineplanets.org/images/earth.jpg"/></div>
    <div>
        <button class="btn btn-primary" ng-hide="$ctrl.show"
                ng-click="$ctrl.displayText();">Show Information
        </button>
    </div>
    <div ng-show="$ctrl.show" class="box text animated lightSpeedIn">
        {{$ctrl.text}}
    </div>
</div>
<earth2 class="box2 text2  animated slideInUp" ng-show="$ctrl.show"></earth2>