<link rel="stylesheet" href="./styles/jupiterStyle.css">
<div id="main">
    <h1>Jupiter</h1>
    <div class="view overlay hm-zoom">
        <img class="animated rotateInUpLeft img-responsive" ng-click="$ctrl.displayText()"
             src="http://nineplanets.org/images/jupiter.jpg"/>

    </div>

    <div ng-show="$ctrl.show" class="box text animated zoomInLeft">
        {{$ctrl.text}}

    </div>
</div>
<text>
    <jupiter2 class="box2 text2  animated slideInLeft" ng-show="$ctrl.show"></jupiter2>
</text>
