.box{
     width: 55vh;
     height: 20vw;
     background-color: #0f0f0f;
     position: relative;
     right:7%;


 }
.box2{
    width: 20vw;
    height: 80vh;
    background-color: #0f0f0f;
    position: absolute;
    left:6%;
    top:10%;
}
#main{
    margin-left: 35%;
}
#main h1{
   color: #00b0ff;
}
button{
    position: absolute;
    top:50%;
    left:40.2%;
}

.text{
    color:white;
    padding:2%;
    font-size: 25px;
}
.text2{
    color: #00ffe9;
    padding:2%;
    font-size: 25px;
}

