.box{
    width: 37vh;
    height: 20vw;
    background-color: #0f0f0f;
    position: relative;
    right:.5%;
    margin-top:2%;

}
#main{
    margin-left: 35%;
}
button{
    position: absolute;
    top:50%;
    left:40.2%;
}
img:hover{
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
}
