.box{
    width: 55vh;
    height: 20vw;
    background-color: #0f0f0f;
    position: relative;
    right:7%;
    margin-top:2%;

}
.box2{
    width: 20vw;
    height: 83vh;
    background-color: #0f0f0f;
    position: absolute;
    left:6%;
    top:10%;
}
#main{
    margin-left: 35%;
}
#main h1{
    color: #89be50;
}
#main img{

    height: 50%;
    width:50%;
    margin-right: 10%;
}
button{
    position: absolute;
    top:50%;
    left:40.2%;
}

.text{
    color:white;
    padding:2%;
    font-size: 25px;
}
.text2{
    color: #007E33;
    padding:2%;
    font-size: 25px;
    font-family: "Helvetica Neue", "Open Sans", sans-serif;
}

