body {
    background-image: url("../image/Space Images in high resolution for free High Definition Backgrounds ....jpg");
    background-color: black;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    animation-name: backswitch;
    animation-duration: 30s;
    animation-iteration-count: infinite;

}
@keyframes backswitch {
    0% {
        background-color: #1e232f;
    }
    20% {
        background-color: #2e2e2e;
    }
    40% {
        background-color: #F1F1F1;
    }
    80% {
        background-color: gainsboro;
    }
    100% {
        background-color: slategrey;
    }

}

/*body{*/
/*background-color: white;*/
/*}*/
/**{*/
/*border: 1px black dotted;*/
/*}*/
.active {
    color: #fdfcfc;
    font-size: 22px;
    text-decoration: underline;
}

.active:hover {
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
}

.btn-group {
    display: flex;
    justify-content: center;
    margin-right: 48%;
    margin-left: 38%;
}

.btn-group span {
    font-size: 25px;
}
