body{
    /*background-image: url("../image/Space Images in high resolution for free High Definition Backgrounds ....jpg");*/


}
astronaut{
    height:50%;
    width:50%;
}
.f-size button a {
    font-size:30px;
    color: inherit;
    text-decoration: none;
    color: #7d0000;
}
.f-size button:hover{
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
}
.f-size{
    text-align: center;
    margin-left: 0;
    margin-right: 20%;
    margin-top: 2%;
}